[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
flake8 = "*"

[packages]
wxpusher = {editable = true,path = "."}

[requires]
python_version = "3"
